<div class="tab-content" id="tab-content-5">
  <div
    class="tab-pane fade show active"
    id="signin"
    role="tabpanel"
    aria-labelledby="signin-tab">
    <form action="">
      <div class="form-group">
        <label>Enter the otp sent to<%-email%> *</label>
        <input type="text" class="form-control" id="otp" name="otp" required />
      </div>

      <div class="form-footer">
        <button type="submit" class="btn btn-outline-primary-2">
          <span>LOG IN</span>
          <i class="icon-long-arrow-right"></i>
        </button>
      </div>
    </form>
  </div>
</div>
