<body>
  <main class="main">
    <div
      class="page-header text-center"
      style="background-image: url('assets/images/page-header-bg.jpg')"
    >
      <div class="container">
        <h1 class="page-title">Shipment Address<span>Shop</span></h1>
      </div>
      <!-- End .container -->
    </div>
    <!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Shop</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            Shipment Address
          </li>
        </ol>
      </div>
      <!-- End .container -->
    </nav>
    <!-- End .breadcrumb-nav -->

    <div class="page-content">
      <div class="checkout">
        <div class="container pl-5">
          <form action="/setDefaultadd" method="post">
            <div class="row">
              <div class="col-lg-9">
                <h2 class="checkout-title">Shipping Addresss</h2>
                <!-- End .checkout-title -->
                <div class="row">
                  <div class="col-sm-6">
                    <label>First Name *</label>
                    <input
                      type="text"
                      class="form-control"
                      name="fname"
                      required
                    />
                  </div>
                  <!-- End .col-sm-6 -->

                  <div class="col-sm-6">
                    <label>Last Name *</label>
                    <input
                      type="text"
                      class="form-control"
                      name="lname"
                      required
                    />
                  </div>
                  <!-- End .col-sm-6 -->
                </div>
                <!-- End .row -->

                <label>Company Name (Optional)</label>
                <input type="text" class="form-control" />

                <label>Country *</label>
                <input
                  type="text"
                  class="form-control"
                  name="country"
                  required
                />

                <label>Street address *</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="House number and Street name"
                  required
                  name="homeaddress"
                />
               

                <div class="row">
                  <div class="col-sm-6">
                    <label>Town / City *</label>
                    <input
                      type="text"
                      class="form-control"
                      required
                      name="city"
                    />
                  </div>
                  <!-- End .col-sm-6 -->

                  <div class="col-sm-6">
                    <label>State / County *</label>
                    <input type="text" class="form-control" required />
                  </div>
                  <!-- End .col-sm-6 -->
                </div>
                <!-- End .row -->

                <div class="row">
                  <div class="col-sm-6">
                    <label>Postcode / ZIP *</label>
                    <input
                      type="text"
                      class="form-control"
                      required
                      name="pincode"
                    />
                  </div>
                  <!-- End .col-sm-6 -->

                  <div class="col-sm-6">
                    <label>Phone *</label>
                    <input
                      type="tel"
                      class="form-control"
                      required
                      name="phone"
                    />
                  </div>
                  <!-- End .col-sm-6 -->
                </div>
                <!-- End .row -->

                <label>Email address *</label>
                <input
                  type="email"
                  class="form-control"
                  required
                  name="email"
                />

                <label>Order notes (optional)</label>
                <textarea
                  class="form-control"
                  cols="30"
                  rows="4"
                  placeholder="Notes about your order, e.g. special notes for delivery"
                ></textarea>
              </div>
              <button
                type="submit"
                class="btn btn-outline-primary-2 btn-order btn-block"
              >
                <span class="btn-text">Save address</span>
                <span class="btn-hover-text">Save address</span>
              </button>
              <!-- End .col-lg-9 -->
            </div>
            <!-- End .row -->
          </form>
        </div>
        <!-- End .container -->
      </div>
      <!-- End .checkout -->
    </div>
    <!-- End .page-content -->
  </main>
  <!-- End .main -->
</body>
